#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: '1rem';
  flex-wrap: 'wrap';

}

.second-cont {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding:0px 20px;
  margin: 20px;
  width: 210px;
  height: 300px;
  box-shadow: 2px 2px 8px #eee;
   
}
.text{
white-space: pre-line 
}