#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-cont {
  display: 'flex';
  gap: '1rem';
  flex-wrap: 'wrap';

}

.second-cont {
  border: '1px solid #ccc';
  border-radius: '8px';
  padding:0px 20px;
  min-width: '200px';
  box-shadow: 2px 2px 8px #eee;

 
}